@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  padding-x: 0;
  overflow-x: hidden !important;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animation-hover {
  animation: hovering 500ms ease-in-out infinite alternate;
}

.animation-prog {
  animation: progress 1500ms ease-in-out 1500ms forwards;
}

@keyframes progress{
  0%{
    width: 0%;
}
100% {
  width: attr(ratio);
}
}

@keyframes hovering {
  0%{
    bottom: -80px;
}
100%{
    bottom: -90px;
}
}

.cube {
  transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(-15deg);
}
.cube-wrap {
  perspective: 1000px;
  perspective-origin: 50% 33%;
}
.hidden {
  display: none;
}

.bg-grad{
  	background: linear-gradient(-45deg, #86efac, #CD46A5, #CDB246, #46cd6e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  border-radius: 0px 0px 8px 8px;
  filter: hue-rotate(323deg);
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
.animation-bounce{
  top: 0px;
  opacity: 0.01;
  position: relative;
  animation: bounceLetter 500ms ease-in-out infinite alternate, fadeIn 500ms ease-in-out forwards; 
}

.animation-fadeout {
  animation: fadeOut 250ms ease-in-out forwards;
}

.animation-pulsing {
  opacity: 0.75;
  scale: 1;
  animation: pulsing 500ms ease-in-out infinite alternate;
}

.feat-header > h1 {
  letter-spacing: -4px;
}

.landing-header > span > h1{
  line-height: 1.25;
  letter-spacing: -10px;
}
.landing-header > h2 {
  line-height: 1.25;
  letter-spacing: -8px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes slideGrad {
  0%{
    background-position: 1500% 0%;
    }
  100% {
  background-position: 0% 0%;

}
}

@keyframes pulsing {
  0% {
    scale: 1;
    opacity: 0.5;
}
100% {
  scale: 1.05;
  opacity: 0.65;
}
}

@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100% {
    opacity: 0.01
  }
}

@keyframes fadeIn {
  0% {
  opacity: 0.01;
}
100% {
  opacity: 1;
}
}

@keyframes bounceLetter {
  0%{
    top: -12px;
  }
  100%: {
    top: 12px
  }
}
